header{
    width: 100%;
    height: 60px;
    background-color: aqua;
    display: flex;
    align-items: center;
    
}

#logo{
    width: 50px;
    height: 50px;
    margin-left: 40px;
    margin-right: 300px;
    border-radius: 50%;

}

a{
    margin-right: 40px;
    text-decoration: none;

}

#search{
    width: 180px;
    height: 25px;
    border: 1px solid black;
    /* border-radius: 20%; */
}

button{
    width: 70px;
    height: 25px;
    margin-left: 5px;
    background-color: aquamarine;
}

